.status_bar{
    width:100%;
    height:10%;
    background-color:red;
    position:absolute;
    bottom:1px;
    display:flex;   
    justify-content: center;
    align-items: center;
}

.statusbar_text{
    font-family:"SuperPlumberBrothers";
    font-size:45pt;
    position:relative;
}